name: Sync Posts

on:
  schedule:
    - cron: "0 5 * * *" # Runs every day at midnight US Central
  workflow_dispatch: {}

jobs:
  sync-posts:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      WEBDAV_URL: ${{ secrets.WEBDAV_URL }}
      WEBDAV_USERNAME: ${{ secrets.WEBDAV_USERNAME }}
      WEBDAV_PASSWORD: ${{ secrets.WEBDAV_PASSWORD }}
      SOURCE_POSTS: ${{ secrets.SOURCE_POSTS }}
      DEST_POSTS: ${{ vars.DEST_POSTS }}
      DEST_ATTACHMENTS: ${{ vars.DEST_ATTACHMENTS }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo -v ; curl https://rclone.org/install.sh | sudo bash

      - name: Setup rclone config
        run: |
          rclone config create nc webdav \
            url=${WEBDAV_URL} \
            vendor=nextcloud \
            user=${WEBDAV_USERNAME} \
            pass=$(echo "${WEBDAV_PASSWORD}" | rclone obscure -) \
            --non-interactive

      - name: Sync posts
        run: |
          python scripts/sync-posts.py

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Sync posts and attachments from WebDAV"
